
<h1>Nombre : </h1>
<p>Affichage simple : {{ nombre }}</p>
<!-- x.y-z -->
<!-- x : nombre minumun d'unité -->
<!-- y : nombre minumun de chiffres apres la virgule -->
<!-- z : nombre max de chiffres apres la virgule -->
<p>Affichage formaté : {{ nombre | number : '4.2-2' }}</p>
<p>Affichage monnaie : {{ nombre | currency : 'EUR' }}</p>
<h1>Chaine</h1>
<p>Affichage simple : {{ chaine }}</p>
<p>Affichage maj : {{ chaine | uppercase }}</p>
<p>Affichage min : {{ chaine | lowercase }}</p>
<p>Affichage 1ere lettre en maj : {{ chaine | titlecase }}</p>
<h1>Dates</h1>
<p>Date simple = {{ date }}</p>
<p>Date formatée = {{ date | date : 'dd/MM/yyyy' }}</p>
<h1>Booléen</h1>
<p>{{ bool ? 'connecté' : 'non connecté' }}</p>
<p *ngIf="bool">La valeur du Booléen est vraie</p>
<p [hidden]="bool">La valeur du Booléen est fausse</p>
<h1>Boucles</h1>
<ul>
    <li *ngFor="let item of liste">
        {{ item | uppercase }}
    </li>
</ul>

<h1>Evénements</h1>
<nb-card>
    <nb-card-header>
        <button nbButton 
                status="info" 
                outline
                (click)="toggleCard()">Click Me</button>
    </nb-card-header>
    <nb-card-body *ngIf="cardVisible">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta tenetur earum facere non reprehenderit accusamus, totam repudiandae numquam maxime? Molestias harum laudantium consequatur eum assumenda quos officiis ducimus ipsum delectus.
    </nb-card-body>
</nb-card>
