<nb-layout>

  <nb-layout-header fixed>
    <p>My First Angular App</p>
  </nb-layout-header>

  
  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
    <!-- <a href="/exo1">Exercice 1</a> -->
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p>&copy; 2021 - Interface3</p> 
  </nb-layout-footer>

</nb-layout>
